<!DOCTYPE html>
<html data-bs-theme="light" lang="uz">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TAHRIRIYAT A'ZOLARI</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/ABeeZee.css">
    <link rel="stylesheet" href="../static/css/Abyssinica%20SIL.css">
    <link rel="stylesheet" href="../static/css/Alegreya%20SC.css">
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link rel="stylesheet" href="../static/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="../static/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="../static/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="../static/css/Navbar---Apple-navbar---apple-1.css">
    <link rel="stylesheet" href="../static/css/Navbar---Apple-navbar---apple.css">
    <link rel="stylesheet" href="../static/css/Navbar---Apple.css">
    <link rel="stylesheet" href="../static/css/Navigation-Menu.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/tahririyat.css">
    <link rel="stylesheet" href="../static/css/talab.css">
</head>

<body>
    <header id="tepajonim" style="margin-top: 0px;padding-top: 8px;">
        <div class="visible" id="top" style="margin-left: -11px;" data-bs-target="#site-navigation" data-bs-smooth-scroll="true">
            <a href="/" style="padding-top: 0px;">
                <img src="../static/img/voiy%20pde.jpg" width="310" height="98"
                    style="padding-top: 0px;margin-top: 1px;padding-left: 2px;margin-left: 224px;">
            </a>
        </div>
        <div class="menuback">
            <div class="menunofull">
                <nav id="site-navigation" class="primary-navigation" aria-label="Primary menu"
                    style="padding-top: 10px;margin-left: 6px;">
                    <div class="primary-menu-container">
                        <ul id="primary-menu-list" class="menu-wrapper">
                            <li id="menu-item-1733" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1733"><a href="/about" data-ps2id-api="true" style="font-size: 16pz;"><span style="color: var(--primary-nav--color-link-hover);">BIZ HAQIMIZDA</span></a></li>
                            <li id="menu-item-1301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1301"><a href="/tahririyat" data-ps2id-api="true" style="font-size: 16pz;text-decoration: underline;"><span style="color: var(--primary-nav--color-link-hover);">TAHRIRIYAT JAMOASI</span></a></li>
                            <li id="menu-item-1764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1764"><a href="/talablar" data-ps2id-api="true" style="font-size: 16pz;"><span style="color: var(--primary-nav--color-link-hover);">NASHR QILISH SHARTLARI</span></a></li>
                            <li id="menu-item-1298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1298"><a href="/arxiv" data-ps2id-api="true" style="font-size: 16pz;">ARXIV</a></li>
                            <li id="menu-item-1262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1262"><a href="/muallif" data-ps2id-api="true" style="font-size: 16pz;"><span style="color: var(--primary-nav--color-link-hover); background-color: transparent;">MUALLIF PROFILI</span><br><br></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="submenu">
            <div class="subnofull">
                <div class="issn"><span>Onlayn ISSN 2520-2480 Chop etish ISSN 2520-6990</span></div>
            </div>
        </div>
    </header>

    <div id="okansila"></div>

    <div class="container">
        <h1>Navoiy davlat universiteti axborotnomasi</h1>
        <h2>Tahririyat</h2>

        <h2>TAHRIRIYATI HАY’АTI:</h2>
        <div>
            <table>
  <tbody>
    <tr>
      <td>t/r</td>
      <td>FISh</td>
      <td>Lavozimi</td>
    </tr>
    <tr>
      <td>1</td>
      <td>I.f.d-ri, prof. M.B.Kalonov</td>
      <td>Bosh muharrir</td>
    </tr>
    <tr>
      <td>2</td>
      <td>DSc. R.H.Davlatova</td>
      <td>Bosh muharrir oʼrinbosari</td>
    </tr>
    <tr>
      <td>3</td>
      <td>PhD. D.F.Jabborova</td>
      <td>Masʼul kotib</td>
    </tr>
  </tbody>
</table>

<h2>Tahririyat hayʼati aʼzolari:</h2>
<div>
  <table>
    <tbody>
      <tr>
        <td>t/r</td>
        <td>FISh</td>
        <td>Lavozimi</td>
      </tr>

      <tr><td>4</td><td>Akademik Sh.Аyupov</td><td>A’zo</td></tr>
      <tr><td>5</td><td>Akademik I.D.Lelsitskiy</td><td>A’zo</td></tr>
      <tr><td>6</td><td>Akademik N.J.Kalonov</td><td>A’zo</td></tr>
      <tr><td>7</td><td>Akademik K.Sh.Tojibayev</td><td>A’zo</td></tr>
      <tr><td>8</td><td>Akademik S.Negmatov</td><td>A’zo</td></tr>
      <tr><td>9</td><td>Akademik B.Zaripov</td><td>A’zo</td></tr>
      <tr><td>10</td><td>Akademik R.Joʼrayev</td><td>A’zo</td></tr>
      <tr><td>11</td><td>Akademik X.Ibragimov</td><td>A’zo</td></tr>
      <tr><td>12</td><td>Director at House of Leading&amp;Learning Oy Hanne Kolli (Finland)</td><td>A’zo</td></tr>
      <tr><td>13</td><td>P.f.d., prof. Azizuddin Khan (Kanpur IIT, Hindiston)</td><td>A’zo</td></tr>
      <tr><td>14</td><td>PhD. Tabassum Qazi (Kanpur IIT, Hindiston)</td><td>A’zo</td></tr>
      <tr><td>15</td><td>F.f.d, prof. Z.N.Xudoyberganova (Bartin Universiteti, Turkiya)</td><td>A’zo</td></tr>
      <tr><td>16</td><td>к.п.н. доцент Пежемская Юлия Сергеевна (Санкт-Петербург, Россия)</td><td>A’zo</td></tr>
      <tr><td>17</td><td>F.f.d., prof. D.Lutfullayeva</td><td>A’zo</td></tr>
      <tr><td>18</td><td>P.f.d., prof. O.Musurmonova</td><td>A’zo</td></tr>
      <tr><td>19</td><td>Iqt.f.d., prof. N.Murodova</td><td>A’zo</td></tr>
      <tr><td>20</td><td>P.f.d., prof. D.Narzikulova</td><td>A’zo</td></tr>
      <tr><td>21</td><td>P.f.d., prof. A.Ahmedov</td><td>A’zo</td></tr>
      <tr><td>22</td><td>F.f.d., prof. M.Ernazarova</td><td>A’zo</td></tr>
      <tr><td>23</td><td>F.f.d., prof. N.Safarova</td><td>A’zo</td></tr>
      <tr><td>24</td><td>B.f.d. U.X.Niyazmetov</td><td>A’zo</td></tr>
      <tr><td>25</td><td>I.f.f.d. I.S.Zaynutdinov</td><td>A’zo</td></tr>
      <tr><td>26</td><td>I.f.f.d. M.Kalonova</td><td>A’zo</td></tr>
      <tr><td>27</td><td>T.f.d. А.Аminova</td><td>A’zo</td></tr>
      <tr><td>28</td><td>B.f.d. S.Shodiyev</td><td>A’zo</td></tr>
      <tr><td>29</td><td>P.f.d. U.Mirsanov</td><td>A’zo</td></tr>
      <tr><td>30</td><td>T.f.n., prof. I.Kamolov</td><td>A’zo</td></tr>
      <tr><td>31</td><td>T.f.n. X.Qurbonov</td><td>A’zo</td></tr>
      <tr><td>32</td><td>P.f.n. T.Oʼtapov</td><td>A’zo</td></tr>
      <tr><td>33</td><td>P.f.n. G’.R.Yodgorov</td><td>A’zo</td></tr>
      <tr><td>34</td><td>F.-m.f.n. R.Ro‘ziyev</td><td>A’zo</td></tr>
      <tr><td>35</td><td>F.f.n. T.Xoʼjaev</td><td>A’zo</td></tr>
      <tr><td>36</td><td>F.-m.f.n. B.Izbosarov</td><td>A’zo</td></tr>
      <tr><td>37</td><td>B.f.n. А.Kushakov</td><td>A’zo</td></tr>
    </tbody>
  </table>
</div>

<h2>Texnik xodimlar</h2>
<div>
  <table>
    <tbody>
      <tr>
        <td>t/r</td>
        <td>FISh</td>
        <td>Lavozimi</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Baxromov Azizbek</td>
        <td>Veb sahifa administratori</td>
      </tr>
    </tbody>
  </table>
</div>

        </div>

        

        <!-- Footer section remains intact as before -->
        <footer class="footer-basic">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                        class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                    href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Bosh sahifa</a></li>
                <li class="list-inline-item"><a href="/about">Biz haqimizda</a></li>
                <li class="list-inline-item"><a href="/tahririyat">Tahririyat</a></li>
                <li class="list-inline-item"><a href="/talablar">Nashr qilish shartlari</a></li>
                <li class="list-inline-item"><a href="/arxiv">Arxiv</a></li>
            </ul>
            <p class="copyright">Navoiy davlat universiteti &copy; 2025</p>
        </footer>

    </div>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/Contact-Form-v2-Modal--Full-with-Google-Map-scripts.js"></script>
    <script src="../static/js/Navbar---Apple-navbar---apple.js"></script>
</body>

</html>
